/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Hind+Guntur:wght@400;600&display=swap');

/* Загальні стилі */
body {
    font-family: 'Caudex', serif; /* Змінено на Caudex як основний шрифт для тексту */
    margin: 0;
    padding: 0;
    background-color: #96948e; /* Світло-кремовий фон */
    color: #4A7C59; /* Темно-зелений колір тексту */
    text-align: center; /* Вирівнювання тексту по центру */
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.headerContainer,
.navbar-container,
.main-container {
    max-width: 1300px;
    margin: 0 auto; /* Автоматичне вирівнювання */
}

.main-container {
    margin-left: 60px;
}

/* Стилі для навігаційної панелі */
.navbar-container {
    position: fixed; /* Зміна позиціонування на фіксоване */
    left: 0; /* Розташування від лівого краю */
    top: 0; /* Розташування від верхнього краю */
    width: 60px; /* Ширина навігаційної панелі залишається незмінною */
    height: 100vh; /* Висота відповідає висоті вікна переглядача */
    background-color: #C8D5B9; /* Світло-зелений колір, як і було задано */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    font-size: 16px;
    line-height: 1.2;
    color: #0b0b0a; /* Світло-кремовий колір тексту */
    text-decoration: none;
    padding: 3px;
    display: block;
    transition: background-color 0.3s;
    font-family: 'Hind Guntur', sans-serif; /* Додавання шрифту Hind Guntur для посилань */
}

.navbar a:hover {
    background-color: #4A7C59; /* Темно-зелений колір при наведенні */
    color: #FAF3DD;
}

/* Стилі для кнопок */
button {
    background-color: #C8D5B9; /* Світло-зелений колір */
    color: #4A7C59; /* Темно-зелений колір тексту */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Chivo', sans-serif; /* Додавання шрифту Chivo для кнопок */
}

button:hover {
    background-color: #4A7C59; /* Темно-зелений колір */
    color: #FAF3DD; /* Світло-кремовий колір тексту */
}

/* Стилі для карток продуктів */
#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 200px;
    border: 1px solid #4A7C59; /* Темно-зелений бордюр */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3px;
    transition: all 0.3s ease;
    background-color: #C8D5B9; /* Світло-зелений фон */
    font-family: 'Caudex', serif; /* Підтримка шрифту Caudex для тексту в картках */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px; /* Фіксована висота для уніфікації зображень */
    object-fit: cover; /* Гарантує, що зображення покриє доступний простір без спотворення */
}

.card h2,
.card h3,
.card p {
    padding: 0 10px;
    color: #030b05; /* Темно-зелений колір тексту */
    text-align: left; /* Вирівнювання тексту вліво */
}

/* Додаткові стилі для модальних вікон */
.modal,
#detailsModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #C8D5B9; /* Світло-зелений фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4A7C59; /* Темно-зелений колір тексту */
    font-family: 'Chivo', sans-serif; /* Використання шрифту Chivo для модальних вікон */
}

.close:hover,
.close:focus,
#detailsModal .close:hover,
#detailsModal .close:focus {
    color: #FAF3DD; /* Світло-кремовий колір тексту */
    text-decoration: none;
    cursor: pointer;
}

/* Медіа запити для адаптивності */
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .navbar-container {
        width: 60px;
    }
    .card{
      max-width: 250px;
    }

    .main-container,
    .container {
       /* margin-left: 70px; /* Враховуючи зміщення для мобільних пристроїв */
    }

    .container,
    .headerContainer,
    .main-container {
        max-width: calc(100% - 60px); /* Коригування ширини контейнерів */
    }
}




@media only screen and (min-width: 1201px) {
    .container,
    .headerContainer,
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
