/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0; /* Вирівнюємо навбар зліва */
  width: 100px; /* Змінюємо ширину навбару на 100px */
  height: 100%; /* Змінюємо висоту навбару на 100% */
  z-index: 1000; /* Додаємо z-index для збільшення пріоритету навбару */
  display: flex; /* Змінюємо спосіб розміщення елементів на flex */
  flex-direction: column; /* Змінюємо напрямок розміщення елементів на вертикальний */
  justify-content: flex-start; /* Вирівнюємо елементи зверху вниз */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  width: 100%; /* Змінюємо ширину посилань на 100% */
  text-align: center; /* Вирівнюємо текст по центру */
}

.navbar a:hover {
  background-color: #ddd;
  color: #007bff;
}

.allContainer {
  margin-left: 100px; /* Зсув контейнера вправо для уникнення перекриття навбаром */
  margin-top: 50px; /* Збільшуємо верхній відступ контейнера, щоб він не накладався на навбар */
  display: flex;
  justify-content: center;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px; /* Додаємо верхній маржин для уникнення накладання на навбар */
}

.card {
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px auto; /* Змінено з margin: 16px; на margin: 16px auto; для вирівнювання по центру */
  transition: all 0.3s ease;
}

.card:hover {
  transform: none; /* Змінено на "none", щоб відмінити будь-яку трансформацію при наведенні */
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.card-content {
  padding: 16px;
}

h2 {
  color: #0ed880;
  font-size: 18px; /* Зменшуємо розмір шрифту для заголовку */
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

p {
  margin: 10px;
  font-size: 14px; /* Зменшуємо розмір шрифту для тексту */
}

/* Медіа-запити для зменшення розміру карток та шрифтів на мобільних пристроях */
@media only screen and (max-width: 767px) {
  .card {
      max-width: 300px;
      margin: 10px auto; /* Вирівнювання по центру */
  }

  .card-content h2 {
      font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .allContainer{
    max-width: 1200px;
  }
  
  .card {
      max-width: 300px;
      margin: 10px auto; /* Вирівнювання по центру */
  }

  .card-content h2 {
      font-size: 24px;
  }
}
/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1001; /* Устанавливаем более высокий z-index, чтобы модальное окно отображалось поверх остального контента */
  left: 50%; /* Располагаем модальное окно в середине горизонтально */
  top: 50%; /* Располагаем модальное окно в середине вертикально */
  transform: translate(-50%, -50%); /* Смещаем модальное окно назад на половину его ширины и высоты */
}

/* Стили для кнопки "Корзина" с отображением количества товаров */
.cart-button {
  background-color: #fff;
  color: #007bff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  position: relative; /* Устанавливаем позицию относительно, чтобы корректно позиционировать количество товаров */
}

.cart-counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  position: absolute; /* Абсолютное позиционирование для количества товаров */
  top: -8px; /* Смещение количества товаров вверх на 8px */
  right: -8px; /* Смещение количества товаров вправо на 8px */
}
