body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 16px;
}

h2 {
    color: #0ed880;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

p {
    margin: 10px;
}

.details {
    display: none;
    padding-top: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 89px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

/* Додано новий стиль для модального вікна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* Ваші стилі */

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-container img {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

/* Стилі для модального вікна */
.slider-container-modal {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-container-modal img {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}
/* Ваші стилі */

.cart-container {
    margin-top: 20px;
}

#cartList {
    list-style-type: none;
    padding: 0;
}

.remove-from-cart {
    margin-left: 10px;
    cursor: pointer;
}
